body {
  background-color: #cccccc;
}

.footer {
  padding: 10px 0;
  margin-top: 10px;
  background-color: #000000 !important;
}

.container {
	background-color:#ffffff;
}

.footer ul li, .footer ul li a {
  color: #9d9d9d;
}

.footer ul li a:hover {
  color: #337ab7;
  text-decoration: none;
}

.cursor_pointer {
  cursor: pointer;
}

.info_emprunt {
  margin: 25px 0 110px 0;
}

.button_margin_bottom {
  margin-bottom: 10px;
}

.img_smartphone {
  height: 430px;
}

.img_tablet {
  width: 596px;
}

.margin_bottom {
  margin-bottom: 20px !important;
}

.margin-top {
  margin-top: 20px !important;
}

.email-width {
  width: 55px !important;
}

#img_loader {
  position : fixed;
  z-index: 9999;
  background : url("../img/loader.gif") no-repeat scroll 50% 50% rgba(128, 128, 128, 0.4);
  top : 0px;
  left : 0px;
  height : 100%;
  width : 100%;
  cursor : wait;
}

@media (min-width: 768px) {
	.dropdown:hover .dropdown-menu {
		display: block;
	}

	.navbar-fixed-top {
        position: relative;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }
}

@media (max-width: 768px) {
  .top-sm-xs {
    margin-top: 70px;
  }

  .banniere_size {
		display: none;
	}

  .img_tablet {
    display: none;
  }
}

@media (max-width: 991px) {
  .banniere_size {
		width: 746px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
  .banniere_size {
		width: 966px;
	}

  .img_smartphone {
    height: 380px;
  }

  .img_tablet {
    width: 527px;
  }
}
@media (min-width: 1200px) {
  .banniere_size {
		width: 1166px;
	}
}