body {
  background-color: #cccccc;
}

.container {
	background-color:#ffffff;
}

@media (min-width: 768px) {
	.dropdown:hover .dropdown-menu {
		display: block;
	}

	.navbar-fixed-top {
        position: relative;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }
}

@media (max-width: 768px) {
  .banniere_size {
		display: none;
	}
}

@media (max-width: 991px) {
  .banniere_size {
		width: 746px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
  .banniere_size {
		width: 966px;
	}
}
@media (min-width: 1200px) {
  .banniere_size {
		width: 1166px;
	}
}