.border_admin_auth {
	background-color: #bcbcbc;
	border: 1px solid;
	border-radius: 10px;
    height: 280px;
    margin: 230px auto;
    width: 295px;
    padding: 15px;
}

h1 {
    border-bottom: 1px solid #ffffff;
    text-shadow: 1px 1px 0 #ffffff;
    margin-bottom: 15px;
    margin-top: 0;
    padding-bottom: 10px;
}

label {
    font-size: 20px;
    width: 90px;
}

.admin_auth input[type="text"], 
.admin_auth input[type="password"]
 {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 3px #ddd inset;
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 0.5em 0.6em;
    width: 290px;
}

.auth_button {
    background-color: #000000;
    color: #ffffff;
    border: 0 none rgba(0, 0, 0, 0);
    border-radius: 2px;
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    text-decoration: none;
     -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    margin-right: 6px;
    float: right;
}

.button_xlarge {
    font-size: 100%;
}